*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --section-border: #ccc; 
    --hello-component-color: darkblue;
    --small-radius: 5px;
    --page-header-color: #003;
    --page-header-shadow: #05a;
    --small-padding: 5px;
    --medium-padding: 10px;
}

body {
    margin: 0;
    padding: var(--medium-padding);
    font-family: Arial, sans-serif;
    height: 100vh;
}    
 
button, input[type="submit"] {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: var(--small-radius);
    padding-block: var(--small-padding);
    padding-inline: var(--medium-padding);
    box-shadow: 3px 3px 3px #ccc;
}

input[type="text"] {
    padding: var(--small-padding);
    border-radius: var(--small-radius);
    border: 1px solid #ccc;
}